@import "../../global.scss";

.portfolioList {
    font-size: 20px;
    margin-right: 50px;
    margin-top: 40px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile{
        font-size: 12px;
        margin-right: 20px;
        margin-top: 10px;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}