@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow-y: hidden;
        background-color: white;
        .imgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            width:  100%;
            height: 100%;
            overflow-y: hidden;    
            float: center;

            @include mobile{
                margin-top: 40px;
                align-items: flex-start;
            }

            img{
                height: 80%;
                margin: 30px 30px;
                border-radius: 50px;

                @include mobile {
                    height: 70%;
                }
            }
        }
    }

    .right{
        flex: 0.5;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile {
                    font-size: 40px;
                }
            }
            
            h2{
                font-size: 35px;
            }
            h3 {
                font-size: 30px;

                @include mobile {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                    
                }
            }    
        }

        a{
            position: absolute;
            bottom: 10px;

            img{
                width: 45px;
                @include mobile{
                    width: 20px;
                }
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
                
            }
        }
    }
}